<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css' rel='stylesheet' />
<% stylesheet_link_tag :site %>


<div id='app'>
  <%= react_component 'layout/map/Application' %>
</div>
