// Extra Small

// Small tablets and large smartphones (landscape view)
$screen-small-min: 576px;

// Small tablets (portrait view)
$screen-medium-min: 768px;

// Tablets and small desktops
$screen-large-min: 992px;

// Large tablets and desktops
$screen-extralarge-min: 1200px;
