/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700;800&family=Poppins&display=swap');

:root {
  --primary-color: lightblue;
  --secondary-color: black;
  --light-color: cornsilk;
  --light-color-two: whitesmoke;;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-color);
  color: var(--secondary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  padding: 10px 10px;
  background-color: var(--primary-color);
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 800;
}

.navbar ul {
  display: flex;
}

.navbar li {
  padding-right:  10px;
}

.navbar a {
  font-weight: 700;
  color: var(--secondary-color);
}

.navbar a:hover {
  color: var(--light-color);
}

#navbar-sumoLogo {
  height: 40px;
}

#navbar-sumoCity {
  font-size: 2rem;
}

.about {
  padding: 2rem;
  text-align: center;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}

.hero h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}

.heroText h3, h4 {
  text-align: center;
}

.heroImage {
  display: grid;
  justify-items: center;
}

.heroImage img {
  width: 70%;
}

#heroSumoWiki {
  background-color: var(--light-color-two);
}