@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700;800&family=Poppins:wght@400;700&display=swap');
@import './mixins';
@import './breakpoints';

:root {
  --primary-color: lightblue;
  --secondary-color: #21222A;
  --light-color: cornsilk;
  --light-color-two: whitesmoke;
  --reddish-color: #BB4430;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-color);
  color: var(--secondary-color);
  height: 100%;
  margin: 0;
}

// Body wrapper - located in application.html.erb
.wrapper {
  min-height: 100%;
  // Equal to height of footer
  // But also accounting for potential margin-bottom of last child
  margin-bottom: -50px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  padding: 10px 10px;
  background-color: var(--primary-color);
}

#desktop-navbar {
  display: none;

  @include medium {
    display: contents;
  }

  ul {
    display: flex;
  }

  li {
    padding-right:  15px;
    text-align: center;
  }

  a {
    font-weight: 700;
    color: var(--secondary-color);
  }

  a:hover {
    color: var(--light-color);

    @include fadeout;
  }

  a:active {
    color: var(--light-color-two);
  }

  p {
    line-height: 20px;
  }
}

#navbar-sumoLogo {
  display: none;

  @include medium {
    height: 40px;
    display: inline;
  }
}

#navbar-sumoCity {
  font-size: 2rem;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 800;
}

// Mobile Hamburger Menu Styles
#hamburger-menu {
   @include medium {
      display: none;
    }
}

// Position and sizing of burger button
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
}

// Color/shape of burger icon bars
.bm-burger-bars {
  background: var(--secondary-color);
}

// Color/shape of burger icon bars on hove
.bm-burger-bars-hover {
  background: var(--light-color);
}

// Position and sizing of clickable cross button
.bm-cross-button {
  height: 24px;
  width: 24px;
}

// Color/shape of close button cross
.bm-cross {
  background: var(--primary-color);
}

// Sidebar wrapper styles
// Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
.bm-menu-wrap {
  position: fixed;
  height: 100vw;
  top: 0px;
  left: 0px;
}

// General sidebar styles
.bm-menu {
  background: var(--secondary-color);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

// Morph shape necessary with bubble or elastic
.bm-morph-shape {
  fill: var(--secondary-color);
}

// Wrapper for item list
.bm-item-list {
  color: var(--light-color-two);
  padding: 0.8em;
}

// Individual item
.bm-item {
  display: inline-block;
  color: var(--primary-color);
  padding: 5px;
  font-weight: bold;
}
.bm-item:hover {
  color: var(--light-color);
}

// Styling of overlay
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
}

// Burner Menu Navbar icons
.bm-item {
  .fas {
  padding-right: 10px;
  }
}

// About page
.about {
  padding: 2rem;
  text-align: center;
}

// Index page
.hero {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
 
  h1 {
    text-align: center;
    padding-bottom: 1rem;
  }

  @include small  {
      grid-template-columns: 1fr 1fr;
    }

  @include medium {
      grid-template-columns: 1fr 1fr;
    }

  @include large {
      grid-template-columns: 1fr 1fr;
    }
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  
  h3, h4 {
    text-align: center;
  }
  
  a {
    font-weight: 800;
  }
}

#heroSumoWiki {
  background-color: var(--light-color-two);
}

// Footer
.push {
  height: 50px;
}

.footer {
  height: 50px;
  text-align: center;
  background-color: var(--reddish-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#babslabs-logo {
  height: 45px;
  padding-left: 10px;
}

// SumoWiki (/terms)
.term {
  margin: 25px 50px;
}

// banners
.banner {
  padding: 25px;
  text-align: center;
  background-color: var(--light-color-two);
}

// stables
.stable {
  text-align: center;
  padding: 1rem;
}

// stables
.sumo {
  text-align: center;
  padding: 1rem;
}

.sumo-list {
 padding: 1rem;
 background-color: var(--light-color-two);
 text-align: center;
 padding: 1rem;
}

// Map
.custom-marker:hover {
  cursor: pointer;
}

/* Sumo card images */
// Note: The card borders are styled in `sumos/show.html.erb` so the border color can be passed in
.card {
  max-height: 60vh;
  margin: 20px;
}

.sumo-show {
  align-items: center;
  justify-items: center;
}