@import './base';

:root {
  --primary-color: lightblue;
  --secondary-color: #21222A;
  --light-color: cornsilk;
  --light-color-two: whitesmoke;
  --reddish-color: #BB4430;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-color);
  color: var(--secondary-color);
  height: 100%;
  margin: 0;
}

// Body wrapper - located in application.html.erb
.wrapper {
  min-height: 100%;
  // Equal to height of footer
  // But also accounting for potential margin-bottom of last child
  margin-bottom: -50px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
 
  h1 {
    text-align: center;
    padding-bottom: 1rem;
  }

  a {
    font-weight: 800;
  }

  @include small  {
      grid-template-columns: 1fr 1fr;
    }  
}

.centered-text {
  text-align: center;
  padding: 1rem;
}